@page
@model TraceLink.Pages.Tagging.IndexModel

@{
    ViewData["Title"] = "Tagging Requests Index";
}

<h1>Tagging Requests</h1>

<p>
    <a asp-page="Create">Add New </a>
</p>

<table class="table display" id="xTable">
    <thead>
        <tr>

            <th>@Html.DisplayNameFor(model => model.TaggingRequests[0].RequestDate)</th>
            <th>@Html.DisplayNameFor(model => model.TaggingRequests[0].TagNumber)</th>
            <th>@Html.DisplayNameFor(model => model.TaggingRequests[0].VehicleNumber)</th>
       
            <th>@Html.DisplayNameFor(model => model.TaggingRequests[0].IMEI)</th>
            
            <th>@Html.DisplayNameFor(model => model.TaggingRequests[0].RTO)</th>
            <th>@Html.DisplayNameFor(model => model.TaggingRequests[0].TaggingStatus)</th>

           
           
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.TaggingRequests != null && Model.TaggingRequests.Any())
        {
            @foreach (var item in Model.TaggingRequests)
            {
                <tr>
                    <td>@item.RequestDate.ToString("yyyy-MM-dd")</td>
                    <td>@Html.DisplayFor(modelItem => item.TagNumber)</td>
                    <td>@Html.DisplayFor(modelItem => item.VehicleNumber)</td>
                   
                    <td>@Html.DisplayFor(modelItem => item.IMEI)</td>
                   
                 
                   
                 
                    <td>@Html.DisplayFor(modelItem => item.RTO)</td>
                    
                    <td>@Html.DisplayFor(modelItem => item.Remarks)</td>
                    <td>
                        <a asp-page="Edit" asp-route-id="@item.Id" class="btn btn-warning btn-sm">Edit</a>
                        <a asp-page="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Delete</a>
<a asp-page="Details" asp-route-id="@item.Id" class="btn btn-info btn-sm"> Details </a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="12" class="text-center">No tagging requests found.</td>
            </tr>
        }
    </tbody>
</table>
